:root {
    --side-width: 
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    
    height: 100vh;
    min-height: 470px;
    display: flex;
    flex-direction: row;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  .sidebar  {
    height: 100%;
    min-height: fit-content(80%);
    width: 40%;
    min-width: 200px;

    background-image: url("images/travel.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sidebar .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .sidebar .heading h1 img {
    display: inline;
  }

  .sidebar h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: calc(16px + 1.2vw);
    text-shadow: 0px 0px 5px rgb(255, 255, 255), 0px 0px 15px rgb(255, 255, 255), 0px 0px 15px rgb(255, 255, 255);
  }

  main {
    width: 60%;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .top-text {
    text-align: center;
  }